.bg-primary {
  background-color: #1a2d5d !important;
}

/* General Styles */
body {
  background: #ededed;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Flexbox para alinear el sidebar y el contenido principal */
.container-fluid {
  display: flex;
  flex-direction: row; /* Alinea los elementos horizontalmente */
  height: 100%; /* Ocupa toda la altura */
}

/* Sidebar */
.sidebar {
  width: 20%; /* Ajusta el ancho del sidebar */
  height: 100%; /* Ocupa toda la altura */
  padding: 0;
  border-right: 1px solid #ddd; /* Línea divisoria */
  background-color: #1a2d5d;
}

.sidebar .nav-link {
  font-weight: bold;
  padding: 10px 15px;
  border-bottom: 1px solid #ffffff33; /* Línea divisoria entre enlaces */
  text-decoration: none;
}

.sidebar .nav-link:hover {
  background-color: #39496a;
  color: #fff;
}

/* Sidebar Button */
.sidebar .btn-danger {
  font-weight: bold;
  font-size: 1rem;
}

/* Main Content */
.main-content {
  flex: 1; /* Ocupa el espacio restante */
  background: #fff;
  border: 1px solid #ddd; /* Borde alrededor del contenido principal */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px; /* Espaciado alrededor del contenido */
}

/* Imagen */
.img-fluid {
  margin-bottom: 20px;
}

body {
  background: #ededed;
  min-height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 80vh; /* Ocupa toda la altura de la página */
}

.login-card {
  width: 100%; /* Por defecto ocupa todo el ancho disponible */
  max-width: 550px; /* Limita el ancho máximo */
  margin: 20px; /* Agrega margen para evitar que toque los bordes en pantallas pequeñas */
  box-shadow: 0 8px 32px 0 rgba(60, 60, 60, 0.08);
}

.btn-vino {
  background: #7b1048;
  color: #fff;
}

@media (hover: hover) and (pointer: fine) {
  .btn-vino:hover {
    background: #5e0c37;
    color: #fff;
  }
}

/* Media query para pantallas pequeñas */
@media (max-width: 576px) {
  .login-card {
    padding: 20px; /* Reduce el padding interno */
    max-width: 90%; /* Ocupa el 90% del ancho de la pantalla */
  }

  h6 {
    font-size: 1rem; /* Ajusta el tamaño del texto del título */
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column; /* Cambia a diseño vertical en pantallas pequeñas */
  }

  .sidebar {
    width: 100%; /* Ocupa todo el ancho */
    height: auto; /* Ajusta la altura automáticamente */
    border-right: none; /* Elimina la línea divisoria */
    border-bottom: 1px solid #ddd; /* Línea divisoria inferior */
  }

  .main-content {
    margin-top: 20px; /* Espaciado superior para separar del sidebar */
    width: 100%; /* Ocupa todo el ancho */
  }

  .img-fluid {
    width: 100%; /* Imagen ajustada al ancho del contenedor */
    height: auto; /* Mantiene la proporción */
  }
}
